.field-name-field-image-preview {
    margin: 0 auto;
    width: 70%;
}

.field-name-field-name-product .field-item p {
    @include font-size(25);
    border-bottom: 2px solid $pink-ish;
    color: $pink-ish;
    font-family: "Lobster Two";
    margin-bottom: 50px;
    text-align: center;
}

.contextual-links-region {
    @include font-size(27);
    font-family: $title-font;
    text-align: center;
}

.view-productos-destacados, .view-display-id-page, .field-name-incommun-product {
    @media (min-width: 1090px) {
        @include outer-container;
        @include span-columns(10);
        @include shift(2);

        .views-row {
            @include span-columns(4);
            display: inline-block;
            float: left;
            margin: 8px 0;
        }
    }
}

.view-display-id-page {
    @media (min-width: 1090px){

          .views-row {
            @include span-columns(5);
        }
    }
}

