// Main Nav Styles
.header-content {
    @media (min-width: 1200px) {
        margin: 0 auto;
        position: relative;
        width: 60%;
    }
}

.block-search {
    left: 45%;
    position: absolute;
    top:0;
    width: 20%;
}

.block-menu {
    background-color: $pink-ish;

    h2 {
        color: $blueish;
        margin: 10px 0;
        text-align: center;
    }
    a {
        color: #E8EDF3;
        font-size: 1.8rem;
        margin: 10px;
    }
}

.menu {
    height: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    transition: all 1s;
    width: 100%;

    .leaf{
        list-style-image: none;
        list-style: none;
    }
}

.show-menu {
    height: auto;
    transition: all 1s;
}
