.field-name-field-product-category, .category-product {
    margin: 0 20px;

    @media (min-width: 900px) {
        margin: 0 80px;
    }
    a {
        @include font-size(20);
    }
    div {
        @include font-size(20);
    }
}

.field-name-field-product-price {
    margin: 0 20px;

    @media (min-width: 900px) {
        margin: 0 80px;
    }
    p {
        @include font-size(20);
    }
}

.field-name-field-product-rating {
    margin: 0 20px;

    @media (min-width: 900px) {
        margin: 0 80px;
    }
    div {
        @include font-size(20);
    }
}

.fivestar-average-stars {
    .form-type-item {
        margin-top: 3px;
    }
}

.fivestar-summary {
    display: none;
}

.field-name-field-description-product p {
    @include font-size(20);
    text-align: center;
}


.field-name-field-body-description {
    margin: 20px;

    @media (min-width: 900px) {
        margin: 20px 80px;
    }
}

.view-comment {
    h3 {
        @include font-size(22);
    }
    p {
        @include font-size(20);
    }
}

.field-name-field-description-product > .field-items {
    font-family: $title-font;
}
