.node-flexslider-example {
    h2 {
        display: none;
    }
    ul {
       .node-readmore {
            display: none;
        }
        .comment-add {
            display: none;
        }
    }
}
