//
// Variables
//

// Sprite
$sprite-image: "../images/global-sprite";

// Typography
$main-font:'Muli', sans-serif;
$title-font:'Lobster Two', cursive;

// Colors
$blueish: #E8EDF3;
$dark-blue: #22264B;
$pink-ish: #B56969;
$yellow: #E6CF8B;


// Neat variables
$max-width: 1200px;
$grid-colums: 13;

// Breakpoints
$desktop: 1000px;
$tablet: 700px;
$mobile-large: 500px;
